header {
    background-color: lightgray;
    padding: 1rem 1;
#    text-align: center;

}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section {
    margin-bottom: 1rem;
    padding: .3rem;
    background-color: lightyellow;
#    background-color: white;
#    border-radius: 8px;
#    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.2rem;
    margin-bottom: .1rem;
    background-color: lightsteelblue;
#    text-align: center;
}

footer {
    #background-color: #333;
    background-color: gray;
    color: white;
    padding: 1rem 0;
    font-size: 0.9rem;
#    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    main {
        padding: 1rem;
    }
    section {
        padding: 1.5rem;
    }
    .skills-list {
        gap: 0.5rem;
    }
    .skills-list li {
        padding: 0.5rem;
    }
}
